# .env file
# Based on your URL: https://ACC_ID.snowflakecomputing.com

SNOWFLAKE_USER=YOUR_SNWFLAKE_USER_NAME/ID
SNOWFLAKE_PASSWORD=YOUR_PASSWORD

# Your Account ID is the part of the URL before '.snowflakecomputing.com'
SNOWFLAKE_ACCOUNT=YOUR_SNWFLAKE_ACC_ID - Like this "tttqkkn-qb32759"
MYSQL_PASSWORD=rootpassword